apiVersion: v1
kind: ConfigMap
metadata:
  name: logshipper-config
data:
  fluent-bit.conf: |
    [SERVICE]
      Flush        1
      Daemon       Off
      Log_Level    info

    {{- range .Values.stacks }}
    {{- if .logs.enabled }}
    [INPUT]
        Name              tail
        Path              /var/log/containers/*{{ .namespace }}*.log
        multiline.parser  {{ .logs.multiline.pattern | default "docker" }}
        Tag               {{ .name }}.*

    {{- end }}
    {{- end }}

    [OUTPUT]
        Name  es
        Host  {{ $.Values.opensearch.host | default "obsb-opensearch" }}
        Port  9200
        Index logs
        Type  flb_type
