apiVersion: v1
kind: ConfigMap
metadata:
  name: logshipper-config
data:
  fluent-bit.conf: |
    [SERVICE]
      Flush        1
      Daemon       Off
      Log_Level    info

    {{- if or .Values.logging.fluentBit.collectAllNamespaces (gt (len .Values.stacks) 0) }}
    {{- if .Values.logging.fluentBit.collectAllNamespaces }}
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Tag               kube.*
        multiline.parser  {{ .Values.logging.fluentBit.multilineParser | default "docker" }}
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On
    {{- end }}

    {{- range .Values.stacks }}
    {{- if and .logs .logs.enabled }}
    {{- $mlparser := ($.Values.logging.fluentBit.multilineParser | default "docker") }}
    {{- if and .logs.multiline .logs.multiline.pattern }}
    {{- $mlparser = .logs.multiline.pattern }}
    {{- end }}
    [INPUT]
        Name              tail
        Path              /var/log/containers/*{{ .namespace }}*.log
        Tag               {{ .name }}.*
        multiline.parser  {{ $mlparser }}
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On
    {{- end }}
    {{- end }}

    [FILTER]
        Name                kubernetes
        Match               *
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Merge_Log_Key       log
        Keep_Log            On
    {{- end }}

    [OUTPUT]
        Name      tcp
        Match     *
        Host      {{ $.Values.logging.fluentBit.output.host | default "obsb-logstash" }}
        Port      {{ $.Values.logging.fluentBit.output.port | default 5044 }}
        Format    json_lines
        tls       {{ ternary "On" "Off" ($.Values.logging.fluentBit.output.tls | default false) }}
